<div
  style="
    background-color: rgb(239, 224, 193);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  "
>
  <br />
  <h1
    style="
      text-align: center;
      background-color: rgb(69, 66, 66);
      color: rgb(255, 255, 255);
      padding: 9px 10px;
      margin-left: 20px;
      margin-right: 20px;
    "
  >
    <b> HR Dashboard </b>
  </h1>

  <td>
    <div style="height: 400px; width: 400px">
      <canvas
        id="barChart"
        style="
          width: 100%;
          max-width: 600px;
          display: inline-block;
          margin-top: 100px;
        "
      ></canvas>
      <p style="text-align: center; font-size: 20px; margin-top: 10px">
        Date vs Working Hours
      </p>
    </div>
  </td>
  <td>
    <div style="height: 200px; width: 200px">
      <canvas
        id="myChart"
        style="width: 50%; max-width: 500px; margin-top: 20px"
      ></canvas>
      <p style="text-align: center; font-size: 20px; margin-top: 30px">
        Employee Details
      </p>
    </div>
  </td>
  <td>
    <div style="height: 400px; width: 400px">
      <canvas
        id="barChart2"
        style="width: 100%; max-width: 600px; display: inline-block"
      ></canvas>
      <p style="text-align: center; font-size: 20px; margin-top: 10px">
        Days vs Salary
      </p>
    </div>
  </td>
</div>
